<div class="social">
            
    <ul>
        <li><button type="button" onclick="alert('Oops! Our Facebook page is under construction.')">
            <i class="fab fa-facebook-f"></i>
        </button></li>
        <li><button type="button" onclick="alert('Oops! Our Twitter page is under construction.')">
            <i class="fab fa-twitter"></i>
        </button></li>
        <li>
            <a href="https://www.instagram.com/e__v__o__l__v__e/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        
    </ul>
</div>

