<div class="social">
    <div class="social_child">
        <ul>
            <li>
                <a href="https://www.youtube.com/channel/UCBh19BtuPqpEYgP-Pc1z0Zw" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/damera_creatives/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            
        </ul>

    </div>
    
</div>

<p class="copy"> Damera Creatives &copy; <span id="year"></span></p>
<p class="copy"> Website by Dagmawi M. </p>

<!-- scroll up button -->
<button onclick="topFunction()" id="scrollBtn" title="Go to top"> <i class="fa-solid fa-circle-chevron-up fa-bounce fa-5x"></i> </button>