<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy-Report-Only" content="script-src 'none'">
    <meta name="description" content="Blog website">
    <title>Damera Creatives</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src="https://kit.fontawesome.com/fe1b290409.js" crossorigin="anonymous"></script> 
    <script src="https://kit.fontawesome.com/0b2bbfa6d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/quote.css">
    <link rel="stylesheet" href="../css/portfolio.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/display.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/intro.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <% if(locals.createPost && createPost){ %>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <% } %>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>