<div class="header">
        
        
    <div class="mainNav">

        <div class="dameraLogo">
           <a href="/"> <img src="/img/TransparentDameraLogo.WebP" alt="logo"> </a> 
            <a href="/" class="creatives">Damera Creatives</a> 
        </div>

       

        <div class="pages" id="myLinks">
            <a href="/"> Home </a>
            <a href="/blog"> Blog </a>
            <% if(loggedIn) { %> 
                <a href="/auth/logout"> Logout </a>
                <% } %>
            <% if(!loggedIn) { %>
            <!-- <li> <a href="/auth/register"> Join </a></li> -->
            <a href="/auth/login"> Login </a>
           
                
                
            <% } %>

        </div>
        
        <div class="night">
            <button id="modeBtn"> <i class="fa-solid fa-circle-half-stroke fa-rotate-180" style="color: #faa44e"></i></button>
            <p id="modeLabel">Light Mode</p>
        </div>
        
        <div class="burger">
            <div class="icon">
                <i class="fa fa-bars" id="i"></i>
            </div>

        </div>

        
        
        
    </div>

    <div class="burgerMenu">
        <a href="/" class="active"> Home </a>
        <a href="/blog"> Blog </a>
            <% if(loggedIn) { %> 
                <a href="/auth/logout"> Logout </a>
                <% } %>
            <% if(!loggedIn) { %>
            <!-- <a href="/auth/register"> Join </a> -->
             <a href="/auth/login"> Login </a> 
            
            <% } %>
            
    </div>

    
</div>