<div class="header">
        
        
    <div class="mainNav">

        <div class="dameraLogo">
            <a href="/"> <img src="/img/TransparentDameraLogo.png" alt="logo"> </a>
            <a href="/">DAMERA <span class="creatives">CREATIVES</span></a> 
        </div>

       

        <div class="pages" id="myLinks">
            <a href="/"> HOME </a>
            <% if(loggedIn) { %> 
                <a href="/auth/logout"> LOG OUT </a>
                <% } %>
            <% if(!loggedIn) { %>
            <!-- <li> <a href="/auth/register"> Join </a></li> 
            <a href="/auth/login"> LOG IN </a>-->
                <a href="/blog"> BLOG </a>
                
            <% } %>

        </div>
        <div class="burger">
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" id="i"></i>
            </a>

        </div>
        
        
    </div>

    <div class="burgerMenu">
        <a href="/" class="active"> HOME </a>
            <% if(loggedIn) { %> 
                <a href="/auth/logout"> LOG OUT </a>
                <% } %>
            <% if(!loggedIn) { %>
            <!-- <a href="/auth/register"> Join </a> -->
            <!-- <a href="/auth/login"> LOG IN </a> --> 
            <a href="/blog"> BLOG </a>
            <% } %>
    </div>

    
</div>