<div class="header">
        
        
    <div class="mainNav">

        <div class="dameraLogo" data-aos="zoom-in" data-aos-duration="3000">
            <a href="/"> <img src="/img/TransparentDameraLogo.png" alt="logo"> </a>
            <a href="/">DAMERA <span class="creatives">CREATIVES</span></a> 
        </div>

       

        <div class="pages">
            <a href="/"> HOME </a>
            <% if(loggedIn) { %> 
                <a href="/auth/logout"> LOG OUT </a>
                <% } %>
            <% if(!loggedIn) { %>
            <!-- <li> <a href="/auth/register"> Join </a></li> -->
                <a href="/auth/login"> LOG IN </a>
            <% } %>

        </div>
        <div class="burger">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>

        </div>
        
        
    </div>

    
</div>