<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>
    

    

    <div class="createPostHead" data-aos="zoom-in" data-aos-duration="2000">
        <h1> WHAT'S ON YOUR MIND? </h1> <br><br>
        <p><strong>Instruction: </strong> If you pasted your text from an external source, please make sure first to highlight the text you just pasted and then click the " Remove Font Style <i class="fa-solid fa-eraser" style="color: var(--color)"></i> " button at the top of the text editor.</p>
    </div>
    
    <div class="item1">

        <form action="/posts/store" class="form"  id="form" method="POST" enctype="multipart/form-data">

        

            <div class="formPart">
                <label for="title">Title</label> <br>
                <input type="text" name="title" class="userInpt" id="title" placeholder="Your title" required>
                <span>*</span>
            </div>
    
            
            <div class="formPart">
                <label for="body"> Description </label> <br>
                <textarea name="body" id="body" class="userInpt" style="height: 12rem; width: 100%" placeholder="Write Your post" style="font-size: .7rem;" required></textarea>
                <span>*</span>
    
            </div>
    
            
    
                
            <div class="formPart">
                <button  id="submit" type="submit" class="userBtn"> POST </button>
            </div>
    
            <div class="formPart">
                <div id="response">
    
                </div>
    
            </div>
    
        </form>

    </div>
    

    <div class="spacer2"> 

    <!--Page footer-->
    <%- include('layouts/footer'); -%>

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

    </div>


    
    <script>
        $('#body').summernote({
          
          placeholder: 'Write the description here',
          tabsize: 2,
          height: 120,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
          ]
          
        });
      </script>
    

</body>
</html>