<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>
    
    

    <div class="spacer"> </div>
    
    <div class="intro">
        <h1> THE ONLINE HAVEN FOR ALL THINGS IMAGINATIVE AND INSPIRING </h1>
        <p> Welcome to Damera Creatives. Our platform is designed to nurture and showcase the incredible talents of artists, writers, and creators from all walks of life. We invite you to unleash your imagination, share your unique perspectives, and engage with a vibrant community of like-minded individuals who appreciate the power of creative expression.</p>

    </div>

    <div class="intro_img" data-aos="slide-up" data-aos-duration="1000" >
        <img src="../img/dance3.png" alt="">

        <h1>BE BOLD!</h1>

    </div>

    <div class="intro_img" data-aos="slide-up" data-aos-duration="1000">
        <h1>BE BRAVE!</h1>
        <img src="../img/dance.png" alt="">
    </div>

    <div class="intro_img" data-aos="slide-up" data-aos-duration="1000">
        
        <img src="../img/men2.png" alt="">
        <h1>BE UNIQUE!</h1>
    </div>

    <div class="intro_img" data-aos="slide-up" data-aos-duration="1000">
        <h1>BE YOU!</h1>
        <img src="../img/men3.png" alt="">
        
    </div>
    <!-- <div class="quote_holder">
        <h2 id="header"></h2>
        <p id="quote"></p> 
     
    </div>
    -->   
 
<div class="spacer2"> 


    <!--Page footer-->
    

    <div class="contact_formIntro">
        <h2> Send a quick message </h2>
       
    </div>

    <form action="/messages/send" method="POST" id="contact_form">
        <div class="contact_formPart">
            <label for="guest">Full name</label> <br>
            <input type="text" name="guest" class="inpt" id="name"placeholder="enter your name"  >
            <span>*</span>
        </div>

        <div class="contact_formPart">
            <label for="email">Email</label> <br>
            <input type="text" name="email" class="inpt" id="email" placeholder="enter your email" >
            <span>*</span>
        </div>

        <div class="contact_formPart">
            <label for="description">Brief message </label> <br>
            <textarea name="description" id="desc" class="desc" style="height: 12rem; width: 100%; " ></textarea>
            <span>*</span>

        </div>
            
        <div class="contact_formPart">
            <button  id="submit" type="submit" class="btn"> SEND </button>
        </div>

        <div class="contact_formPart">

            <div id="contact_formResponse"> 
               
            </div>

        </div>

    </form>
     <!--Page footer-->
     <%- include('layouts/footer'); -%>

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

</div>
   
   
</body>
</html>
