<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>
    
    

    <div class="spacer"> </div>
    
    <div class="introContainer">

        <div class="intro"> 
            <h1 data-aos="zoom-in" data-aos-duration="2000"> THE ONLINE HAVEN FOR ALL THINGS IMAGINATIVE AND INSPIRING </h1>
            <p data-aos="zoom-in" data-aos-duration="2000"> Welcome to Damera Creatives, a creative hub designed to nurture and showcase the incredible talents of artists, writers, and creators from all walks of life. We invite you to unleash your imagination, share your unique perspectives, and engage with a vibrant community of like-minded individuals who appreciate the power of creative expression. Unleash your imagination and let Damera be the canvas for your creative endeavors!</p>
            <div class="contribute" data-aos="slide-up" data-aos-duration="2000">
                <a href="/auth/login"> Start Writing  </a>
            </div>
    
        </div>

        <div class="illustration" data-aos="slide-right" data-aos-duration="2000">
            <img src="/img/Design_team.png" alt="illustration of people working">
        </div>
        

    </div>
    
 
<div class="spacer2"> 


    <!--Page footer-->
    <!--

   

    <div class="contact_formIntro">
        <h2> SEND A QUICK MESSAGE </h2>
       
    </div>

    <form action="/messages/send" method="POST" id="contact_form">
        <div class="contact_formPart">
            <label for="guest">Your name</label> <br>
            <input type="text" name="guest" class="inpt" id="name"placeholder="enter your name"  >
            <span>*</span>
        </div>

        <div class="contact_formPart">
            <label for="email">Email</label> <br>
            <input type="text" name="email" class="inpt" id="email" placeholder="enter your email" >
            <span>*</span>
        </div>

        <div class="contact_formPart">
            <label for="description">Brief message </label> <br>
            <textarea name="description" id="desc" class="desc" style="height: 12rem; width: 100%; " ></textarea>
            <span>*</span>

        </div>
            
        <div class="contact_formPart">
            <button  id="submit" type="submit" class="btn"> SEND </button>
        </div>

        <div class="contact_formPart">

            <div id="contact_formResponse"> 

                
               
            </div>

        </div>

    </form>
    -->
     <!--Page footer-->
     <%- include('layouts/footer'); -%>

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

</div>
   
   
</body>
</html>
