<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
    <%- include('layouts/navbar'); -%>

    <div class="spacer"> </div>
    

    
    <div class="intro" data-aos="slide-up" data-aos-duration="2000">
        <h1> LOG IN  </h1>

    </div>

    
    <form action="/users/login"  class="form" method="POST" enctype="multipart/form-data" >

        <div class="formPart">
            <label for="username"> Username </label> <br>
            <input type="text" name="username" class="inpt" id="username" placeholder="Enter your username">
            <span>*</span>
        </div>

        <div class="formPart">
            <label for="password">Password</label> <br>
            <input type="password" name="password" class="inpt" id="password" placeholder="Enter your password" required>
            <span>*</span>
        </div>

        <div class="formPart">
            <button  id="submit" type="submit" class="btn"> LOG IN </button>
        </div>

        <div class="formPart">
            <div id="response">

            </div>

        </div>

    </form>
    <div class="signupMessage">
        <p> Don't have an account? <a href="/auth/register">SIGN UP</a>  </p>  
    </div>

    <div class="spacer2"> 
        <!--Page footer-->
    <%- include('layouts/footer'); -%>

    </div>

   

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%> 

   

    

</body>
</html>