<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
   

    <div class="signUp_logo">
        <a href="/"><img src="/img/DameraLastConcept.png" alt="logo"></a> 
    </div>

    
    <div class="intro">
        <h2> LOG IN  </h2>

    </div>

    
    <form action="/users/login"  id="form" method="POST" enctype="multipart/form-data">

        <div class="formPart">
            <label for="username"> Username </label> <br>
            <input type="text" name="username" class="inpt" id="username" placeholder="Enter your username">
            <span>*</span>
        </div>

        <div class="formPart">
            <label for="password">Password</label> <br>
            <input type="text" name="password" class="inpt" id="password" placeholder="Enter your password">
            <span>*</span>
        </div>

        <div class="formPart">
            <button  id="submit" type="submit" class="btn"> LOG IN </button>
        </div>

        <div class="formPart">
            <div id="response">

            </div>

        </div>

    </form>

    <div class="spacer2"> </div>

    <!--Page footer-->
    <%- include('layouts/footer'); -%>

    <p class="copy">&copy; 2022 Damera Creatives </p>
    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

    

</body>
</html>