<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
   
    <div class="messageContainer" data-aos="slide-up" data-aos-duration="2000">
        <h1> 404 PAGE NOT FOUND 😞 </h1>

    </div>

    
    
    

    

    

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

    

</body>
</html>