<!DOCTYPE html>
<html lang="en">
    <!--Page head section-->
<%- include('layouts/header'); -%>

<body>
    
    <!--Page Header-->
   
    <div class="messageContainer">
        
        <h1>Account Creation Success 🎉</h1>
        <p>Welcome, you may now log in and start writing... </p>
        <div class="contribute" data-aos="slide-up" data-aos-duration="2000">
            <a href="/auth/login"> Log In </a>
        </div>
    </div>

    
    
    

    

    <!--Page Scripts-->
    <%- include('layouts/scripts'); -%>

    

</body>
</html>