.blogIntro{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogIntro h2{
    font-weight: 400;
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.recentHeader{
    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid black;
    margin-top: 5rem;
    padding-left: 1rem ;
}
.recentHeader h2{
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* Controller for the Literature page */
.post-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
    gap: 3rem;
   
  
}
.post-preview{
    
    width: 400px;
    display: flex;
    flex-direction: column;
    transition: .7s;
    border-radius: .5rem;
    border-bottom: .5px solid gray;
    padding-bottom: 2rem;
    
}

.post-preview a{
    color:  #af5b07;
    font-size: 1.3rem;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post-preview h2{
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1.5rem;
    
}
.post-preview span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.post-preview img{
   
    width: 100%;
    margin-bottom: 2rem;
    transition: .7s;
    border-radius: .5rem;
}
.post-preview img:hover{
    transform: scale(1.03);
    transition: .7s;
}

@media screen and (max-width: 900px){
    .blogIntro h2{
        font-size: 1.3rem;
    }
    .post-preview{
       width: 350px;
    }
    .recentHeader{
        width: 77%;
    }
}