.formWrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 3rem;
}

.item2 img{
    width: 520px;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.235));

}
.createPostHead{
    width: 500px;
    margin: auto;
    margin-top: 10rem;
}
.createPostHead h1{
    font-weight: 400;
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.form{
    width: 500px;
    margin: auto;

}
.formHead h1{
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.formPart{
    margin-top: 1rem;
}
.signupMessage {
   margin-top: 2rem;
}
.signupMessage p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.signupMessage a{
    cursor: pointer;
    color: #af5b07;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #454545;
    
    
}
.userInpt{
     
    width: 100%;
    height: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding-left: 5px;
   
}
.postBody{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding-left: 5px;
}
.userBtn{
     padding: 20px 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background: #af5b07;
     color: white;
     font-size: 17px;
     cursor: pointer;
     border-radius: 5px;
     border: none;
   
}
.formPart > span {
	color: #af5b07;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: block;
    text-align: right;
    
}

.error_display{
    margin: auto;
    height: 80px;
    max-width: 600px;
    padding: 1rem;
    border-radius: 5px;
    background: #af5b07;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.error_display ul{
    
    list-style: none;
   
}
.error_display ul li{
    color: white;
    text-align: center;
}



@media screen and (max-width: 900px) {
    .formWrapper{
        
        flex-direction: column-reverse;
    }
    .createPostHead{
        width: 350px;
        padding: 1rem;
        margin-top: 3rem;
    }
    .createPostHead h1{
        font-size: 1.5rem;
    }
    .item1{
        width: 350px;
        padding: 1rem;
        margin: auto;
    }
    .form{
        width: 100%;
    }
    label{
        font-size: 17px;
    }
    .userInpt{
        font-size: 14px;
    }
    .userBtn{
        font-size: 15px;
    }
    .postBody{
        font-size: 15px;
    }
    .item2 img{
        width: 340px;
        filter: unset;
    }
    .formHead h1{
        font-size: 1.7rem;
    }
    
}
