*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(https://global-uploads.webflow.com/60d21862724092349138065e/60d22a662e93a76ff5878b0a_geometry.png);
    background-size: auto;
    background-position: 0 0;
}
.icon{
    width: 40px;
    padding-top: 5px;
    margin: 0;
    
    
}

.weather{
    
    font-size: 14px;
    margin:0;
    color: #8eb2cf;
    padding-bottom: 5px;
    font-weight: bold;
    
}
.temp{
    font-size: 14px;
    margin: 0;
    color: #305675;
    
}

.spacer{
   
    width: 100%;
    height: 7rem;
    
}

.spacer2{
    
    width: 100%;
    margin-top: 100px;
    padding: 5rem; 
    background: #fafafa;
    position: relative;
    top: 7rem;
    
   
   
}

/* Controller for the social media icons */
.social{

    width: 100%;
    margin: 20px 0;
 
}

.social_child{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.social_child ul li{
   
    list-style: none;
    display: inline-block;

}
.social button{
    background-color: unset;
    cursor: pointer;
    border: none;
    
}

.fab {
    
    font-size: 1.7rem;
    color: #507814;
    padding: 7px;
    
}
/* controller for the copyright stamp */
.copy{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8f8f8f;
    margin-bottom: .7rem;
    font-size: 17px;
}



/* Scrollup button */
#scrollBtn{ 
    display: none;
    border: none;
    background: none;
    position: fixed;
    bottom: 30px;
    left: 1rem;
    font-size: .6rem;
    cursor: pointer;
    z-index: 2;
}
#scrollBtn .fa-solid{
        --fa-bounce-start-scale-x: 1; 
        --fa-bounce-start-scale-y: 1; 
        --fa-bounce-jump-scale-x: 1; 
        --fa-bounce-jump-scale-y: 1; 
        --fa-bounce-land-scale-x: 1; 
        --fa-bounce-land-scale-y: 1; 
        --fa-bounce-rebound: 0;
        color:#507814;
        
}
   


@media screen and (max-width: 900px){
    
    .container h2{
        display: none;
        font-size: 1.7em;
        filter: none;
    } 
    .weather{
    
        font-size: 13px;
        color: #8eb2cf;
        
    }
    .temp{

        font-size: 13px;
        color: #1d405c;
        
    }
    .icon{

        width: 30px;
     
    }
    .spacer{
        height: 4rem;
    }
    
    .copy{

        font-size: 15px;

    }
    #scrollBtn .fa-solid{
        
        font-size: 2.3rem;
        
        
    }
    
}
