*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    
    width: 100vw;
    
   
}

.header p{
    text-align: center;
   
}
.navWrap{
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;
    
}

.div1 {
    width: 100%;
    margin: auto;
    position: absolute;
   

  
}
.div1 img{
  
    margin-top: 10rem;
    width: 20rem;
    filter: drop-shadow(2px 2px 5px rgba(48, 48, 48, 0.691));
}

.container{
    position: absolute;
    padding: 2rem;
    z-index: 2;
   
}
.container a{
    text-decoration: none;
    cursor: pointer;
    
}

.container h2{
    
    font-weight: 700;
    font-size: 2em;
    left: 30px;
    color:  rgb(164, 132, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container #damera{
    color: #4a6d16;
}

.icon{
    width: 40px;
    padding-top: 5px;
    margin: 0;
    
    
}

.weather{
    
    font-size: 14px;
    margin:0;
    color: #8eb2cf;
    padding-bottom: 5px;
    font-weight: bold;
    
}
.temp{
    font-size: 14px;
    margin: 0;
    color: #305675;
    
}


.div2{

   position: absolute;
   padding: 2rem;
   width: 100%;
  
 
  
}
.div2 ul{

    list-style: none;
    padding: 0;
    float: right;
    position: relative;
    

}
.div2 li{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    display: inline-block;
    padding-right: 15px;

}
.div2 a{

    text-decoration: none;
    color:   #405d14;
    padding-left: 15px;
    font-size: 1.2em;

}


.spacer{
   
    width: 100%;
    position: relative;
    height: 10rem;
    
}

.intro{
    position: relative;
    top: 25rem;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
   
   
}
.intro h1{
   
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3rem;
    
}
.intro h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #93c896;
}
.intro p{
    font-size: 1.05rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8;
    margin: auto;
    text-align: center;
    color: #454545;
    margin-top: 2rem;
   
}
.intro_img{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.intro_img img{
    width: 100%;
    border-radius: .5rem;
}
.intro_img h1{
    padding: 2rem;
    color: #93c896;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.spacer2{
   
    border-top: .5px solid rgba(209, 209, 209, 0.331);
    margin-top: 100px;
    padding: 60px;
    background-color: #f7f6f6;
    position: relative;
    top: 25rem;
}

/* Controller for the social media icons */
.social{

    width: 100%;
    margin: 20px 0;
 
}

.social_child{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.social_child ul li{
   
    list-style: none;
    display: inline-block;

}
.social button{
    background-color: unset;
    cursor: pointer;
    border: none;
    
}

.fab {
    
    font-size: 1.7rem;
    color: #578d05;
    padding: 7px;
    
}
/* controller for the copyright stamp */
.copy{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
    margin-bottom: .7rem;
    font-size: 17px;
}



/* Scrollup button */
#scrollBtn{ 
    display: none;
    border: none;
    background: none;
    position: fixed;
    bottom: 30px;
    right: 1rem;
    font-size: .6rem;
    cursor: pointer;
    z-index: 99;
}
#scrollBtn .fa-solid{
        --fa-bounce-start-scale-x: 1; 
        --fa-bounce-start-scale-y: 1; 
        --fa-bounce-jump-scale-x: 1; 
        --fa-bounce-jump-scale-y: 1; 
        --fa-bounce-land-scale-x: 1; 
        --fa-bounce-land-scale-y: 1; 
        --fa-bounce-rebound: 0;
        color: #578d05;
        
}
   
    


/* Controller for the Literature page */
.post-container{
    width: 80%;
    position: relative;
    top: 25rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: scroll;
    gap: 3rem;
    margin-top: 10rem;
    
    
    
}
.post-preview{
    
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: .2rem;
   
    
}
.post-preview a{
    
    color: #578d05;
    
}
.post-preview h2{
    font-size: 2rem;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1.5rem;
    
}
.post-preview p{

    font-size: 1.1rem;
    color: #424242;
    line-height: 1.9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15px;
    word-spacing: 0.6pt;
   
   
    
}

.post-preview img{

    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
    border-radius: 1rem;
    transition: .7s;

    
}
.post-preview img:hover{
    transform: scale(1.05);
    transition: .7s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.671);

   
}
.post-preview span{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* contribute button on Literature page */
.contribute{
    position: relative;
    top: 25rem;
    width: 200px;
    margin: auto;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
.contribute a{

    color: white;
    text-decoration: none;
    background-color: #578d05;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    
}
@media screen and (max-width: 750px){
    .header{
        
        z-index: 99;
        background:#ffffff;

        
    }
    .container h2{
        display: none;
        font-size: 1.7em;
        filter: none;
    }
    .spacer{

        margin-top: 2rem;

    }
    .intro h1{

        font-size: 30px;
        margin-top: 5rem;

    }
    .intro p{

        font-size: 1rem;
        width: 85%;
        text-align: unset;

    }
    
    .intro{
        
        width: 100%;
        

    }
    .post-container{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow-x: unset;
    }
    .post-preview{
        width: 80%;
        margin: auto;
    }
    .post-preview h2{

        font-size: 25px;

    }
    .post-preview img{
        max-width: 600px;
        margin: auto;
        margin-bottom: 2rem;
    }
    .div1 {

        position: absolute;
        

    }
    .div1 img{
        width: 15rem;
        filter: none;
        filter: drop-shadow(1px 5px 4px rgba(48, 48, 48, 0.875));
    }
    .div2{
        
        padding: 10px;
        top: 30rem; 
        
    }
    .div2 ul{

        
        width: 100%;
        position: unset;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       
    }
    
    .div2 a:hover{
        color: unset
    }
    .div2 li{
        font-size: 1.1em;
        padding: 0;
    }
    
    .weather{
    
        font-size: 13px;
        color: #8eb2cf;
        
    }
    .temp{

        font-size: 13px;
        color: #1d405c;
        
    }
    .icon{

        width: 30px;
     
    }
    .contribute {

        margin-top: 5rem;
        margin-bottom: 7rem;

    }
    .contribute a{

        font-size: 15px;

    }
    .copy{

        font-size: 15px;

    }
    #scrollBtn .fa-solid{
        
        font-size: 2.3rem;
        
        
    }
    
}
@media screen and (min-width: 2000px){
    .intro p{
        margin-top: 80px;
    }
    .intro h1{
        margin-top: 150px;
    }
    .contribute{
        margin-top: 200px;
    }

}