.mainNav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    position: fixed;
    background: #fafafa;
    top: 0;
    z-index: 1;
    
}
.dameraLogo{
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    
}
.dameraLogo img{
    width: 100px;
   
}
.dameraLogo a{
   
    font-weight: 500;
    cursor: pointer;
    font-size: .9rem;
    color:  #454545;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.dameraLogo .creatives{
    color:  #454545;
}
.pages{
    
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;

}
.pages a{
    
    cursor: pointer;
    font-size: .9rem;
    color: #454545;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.burger{
    display: none;
}
.icon{
    color: #507814;
    font-size: 1.7em;   
    cursor: pointer;
}
.burgerMenu{
    width: 100%;
    background: #454545ef;
    background: #507814f7;
    display: none;
    position: fixed;
    z-index: 1;
    top: 7rem;
   
    
}   
.burgerMenu a{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 2rem;
    text-align: center;
}
.burgerMenu a:hover{
    background: #454545;
    
}

@media screen and (max-width: 900px){

    .mainNav{
        
        justify-content: space-between;
        padding: 1rem;
        border-bottom: unset;
    }
    .dameraLogo img{
        width: 80px;
    }
    .dameraLogo a{
        font-size: .6rem;
    }
    
    .pages{
        display: none;
    }
    
    .burger{
        display: block;

    }
    
}