.mainNav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    
    
}
.dameraLogo{
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    
}
.dameraLogo img{
    width: 100px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.323));

}
.dameraLogo a{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.288));
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5rem;
    color:  #454545;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dameraLogo .creatives{
    color:  #454545;
}
.pages{
    
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;

}
.pages a{
    
    cursor: pointer;
    font-size: 1.1rem;
    color: #454545;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.burger{
    display: none;
}
.icon{
    color: #454545;
    font-size: 1.7em;   
    cursor: pointer;
}
.burgerMenu{
    width: 100%;
    background: #454545;
    display: none;
}   
.burgerMenu a{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 2rem;
    text-align: center;
}
.burgerMenu a:hover{
    background:  #454545;
    
}

@media screen and (max-width: 900px){

    .mainNav{
        background: unset;
        justify-content: space-between;
        padding: 1.5rem;
    }

    .dameraLogo a{
        font-size: 1rem;
    }
    .pages{
        display: none;
    }
    .burger{
        display: block;

    }
    
}