body{
    padding: 0;
    margin: 0;
}
.signupMessage{
    width: 40%;
    margin: auto;
    margin-bottom: 7rem;
}
.signupMessage p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.signupMessage a{
    cursor: pointer;
    color: #af5b07;
}
@media screen and (max-width: 800px) {
    .signupMessage{
        width: 90%;
    }
    .signupMessage p{
        text-align: center;
    }
}