
.signUp_logo{
    margin: auto;
    margin-bottom: 40px;
    width: 18%;

    
}

.signUp_logo img{
    width: 100%;
    border-radius: 50%;
    margin-top: 40px;
    
}
@media screen and (max-width: 550px){
    .signUp_logo{
        width: 50%;
    }
}
.error_disp{
    list-style: none;
    background-color: #3e502a;
    padding: 7px;
    
}
.error_disp li{
    padding: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}