.messageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.messageContainer h1{
    font-weight: 400;
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.messageContainer p{
    font-size: 1.05rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #454545;
    margin-top: 2rem;
}

@media screen and (max-width: 750px) {
    .messageContainer p{
        font-size: .8rem;
    }
    .messageContainer h1{
        font-size: 1.4rem;
    }
}